@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


.lato {
    font-family: "Lato", sans-serif !important;
}

.saira {
    font-family: "Saira Condensed", sans-serif !important;
}

.design{
    font-family: "Playpen Sans", cursive;
}

.textLogo{
    color: rgb(138 184 255);
}


.webPrimary {
    color: #ec7427;
}
.webPrimaryBg {
    background-color: #ec7427;
}
.webPrimaryBorder {
    border-color: #ec7427;
}

.textColor {
    color: #fcfdff;
}